body {
  color: #5d5761;
  font-family: "Open Sans", Avenir, sans-serif;
}

p {
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin: 0;
  /* transition: 0.3s linear all; */
}

.dialog {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyText {
  margin-bottom: 120px;
  padding: 20px;
  width: 35vw;
  display: none;
  line-height: 1.6;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
.outcome {
  margin-bottom: 20px;
  font-style: italic;
}
.outcome::before {
  content: "... ";
}
.hide {
  display: none;
}
h1 {
  position: absolute;
  font-family: "Cabin Sketch", Avenir, sans-serif;
  font-size: 90px;
  text-align: center;
}
#headerHolder {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
